.container1{
	margin-left: 30vw;
	margin-right: auto;
	min-height: 95vh;
  background-color: #E4E5E7;
	margin-top: 20px;
  padding-top: 30px;
	padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
	max-width: 50vw;
	border-radius: 6px;
}
.aside {
  height: 400px;
}
.main {
  height: 400px;
}
.d-flex {
  display: flex;
}
.task-title {
  font-weight: 400;
  padding-top: 5px;
}
.gray {
  color: #BDBDBD;
}
.task-title--done {
  text-decoration: line-through;
  color: #CDCDCD;
}
.task-item__buttons {
  display: flex;
  column-gap: 5px;
	align-items: center;
}
.notify-holder {
  height: 60px;
  margin-bottom: 20px;
}
.linebreak{
	word-break: break-all;
	text-align: left;
	max-width: 80%;
}
.empty-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 1em;
  padding-bottom: 1em;
}
.empty-list__title {
  font-size: 28px;
  margin-bottom: 15px;
  font-weight: 300;
}
.empty-list__icon {
  color: #42BE2A;
  font-size: 32px;
}
.btn-action {
    background-color: #e0e5ea;
    padding: 8px 10px;
    cursor: pointer;
    border: 0;
    border-radius: 4px;
    transition: opacity 0.2s ease-in;
    opacity: 0.5;

    display: flex;
    justify-content: center;
    align-items: center;

		max-height: 34px;
}

.btn-action:hover {
    background-color: #e0e5ea;
    opacity: 1;
}

.btn-action img {
  pointer-events: none;
}

.none {
  display: none !important;
}

.float-right {
  float: right;
}
.break{
	flex-basis: 100%;
	height: 0;
}
.status-false{
	color:tomato
}
.status-true{
	color: green;
}
